<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>TypedJson Sample Editor</title>
    <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>
    <div class="page">
        <div class="column">
            <h1>Json Editor</h1>
            <div class="monaco-container" id=editor></div>
        </div>
        <div class="column">
            <h1>Schema Editor</h1>
            <div class="monaco-container" id=editorSchema></div>
            <label for="sample-schema">Try one of these:</label>
            <select name="sample-schema" id="sample-schema">
                <option value=""></option>
                <option value="properties">Properties</option>
                <option value="if-then-else">If/Then/Else</option>
                <option value="all-of">All Of</option>
            </select>
        </div>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

